
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
challenge/c1.html
challenge/c1.js
challenge/c2.js
challenge/ch2.html
challenge/ch3.html
challenge/ch3.js
challenge/ch4.html
challenge/ch4.js
challenge/ch5.html
challenge/ch5.js
challenge/ch6.html
challenge/ch6.js
challenge/ch7.css
challenge/ch7.html
challenge/ch7.js
challenge/debug.log
